:root {
    --first-color: #0A1128;
    --second-color: #ffffff;
    --third-color: #eeee;
}

* {
    margin: 0;
    padding: 0;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Solway', serif;
font-family: 'Coming Soon', cursive;
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    color: black;
}

.main-bg {
    background-image: url('./img/principal.png');
    background-size: cover;
    background-position: center center;
    color: var(--first-color);
}

.alt-bg {
    background-color: var(--second-color);
    color: var(--first-color);
}


a {
    text-decoration: none;
    color: var(--first-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Solway', serif;
    color: var(--first-color);
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
  
h2 {
    font-size: 5rem;
    margin-bottom: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: var(--first-color);
}
  
h3 {
    font-size: 5rem;
}
  
h4 {
    font-size: 4.5rem;
}
  
h5 {
    font-size: 4rem;
}
  
h6 {
    font-size: 3.5rem;
}

p {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-family: 'Coming Soon', cursive;
    font-weight: bolder;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem;
}

.section {
    min-height: 100vh;

}

.menu {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid var(--third-color);
}


.menu-content {
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2rem;
}

.menu h1 a {
    color: inherit;
}


.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--first-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--first-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-text-content h2 {
    font-size: 5rem;
    margin-bottom: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: var(--first-color);
    font-family: 'Coming Soon', cursive;
}

.intro-content {
    position: relative;
    top: -6.5rem;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 3rem;
    height: 100vh;
}

.intro-text-content, .first-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center ;
}

.first-img img {
    width: 65rem;
    height: 50rem;
    max-height: auto;
    max-width: auto;
    margin-top: 8rem;
}

.pixel-content {
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}